.header {
    padding: 15px 0;
    background-color: #fff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: auto;
    border: 0px solid green;
    width: 75%;
    margin-right: 280px;
}

.logo-content-img {
    border: solid 0px #42515f;
}


.address-text {
    font: normal normal bold 28px/32px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    color:yellow;
    margin-left: 4px;
    text-transform: capitalize;
}

.address-book {
    color:black;
}

.head-text {
    display: flex;
    flex-direction: row;
    text-align: left;
    border: 0px solid;
}
